<div class="bg-primary-color masthead mini-masthead container full-width">  
  <div class="container">
    <h1 class="text-center">
      Find a Co-Op
    </h1>
    <p class="lead text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      Choose the right medical-sharing organization for you.      
    </p>  
    <div class="clearfix"></div>  
    <p class="text-center no-margin"><i class="fa fa-angle-down fa-3"></i></p>
  </div>
</div>

<!-- Three columns of text below the carousel -->
<div class="container">

  <div class="col-md-4 text-center">
    <img class="img-circle" style="width: 200px; height: 200px;" src="">
    <h3>Samaritan Ministries</h3>    
    <p><a class="btn btn-lg btn-primary btn-block" href="/info" role="button">Request Info</a></p>
    <ul class="list-group">
      <li class="list-group-item">Coverage up to $250K</li>
      <li class="list-group-item">Medication discounts</li>
      <li class="list-group-item">Dental & ortho discounts</li>
      <li class="list-group-item">Exempt from PPACA</li>
      <li class="list-group-item">Must be under 65 yrs of age</li>
      <li class="list-group-item">No Smoking</li>      
      <li class="list-group-item">No Drinking</li>      
    </ul> 
    <h4>About the Organization</h4>         
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-md-4 text-center">
    <img class="img-circle" style="width: 200px; height: 200px;" src="">
    <h3>Medi-Share</h3>    
    <p><a class="btn btn-lg btn-primary btn-block" href="/info" role="button">Request Info</a></p>
    <ul class="list-group">
      <li class="list-group-item">Coverage up to $250K</li>
      <li class="list-group-item">Medication discounts</li>
      <li class="list-group-item">Dental & ortho discounts</li>
      <li class="list-group-item">Exempt from PPACA</li>
      <li class="list-group-item">Must be under 65 yrs of age</li>
      <li class="list-group-item">No Smoking</li>      
      <li class="list-group-item">No Drinking</li>      
    </ul> 
    <h4>About the Organization</h4>         
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-md-4 text-center">
    <img class="img-circle" style="width: 200px; height: 200px;" src="">
    <h3>Christian Healthcare Ministries</h3>    
    <p><a class="btn btn-lg btn-primary btn-block" href="/info" role="button">Request Info</a></p>
    <ul class="list-group">
      <li class="list-group-item">Coverage up to $250K</li>
      <li class="list-group-item">Medication discounts</li>
      <li class="list-group-item">Dental & ortho discounts</li>
      <li class="list-group-item">Exempt from PPACA</li>
      <li class="list-group-item">Must be under 65 yrs of age</li>
      <li class="list-group-item">No Smoking</li>      
      <li class="list-group-item">No Drinking</li>      
    </ul> 
    <h4>About the Organization</h4>         
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
  </div><!-- /.col-lg-4 -->
  
</div>