<div class="bg-primary-color container masthead full-width">  
	<div class="container">
	  <h1 class="text-center">
	  	My Insurance Sucks
	  </h1>
	  <p class="lead text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	  	Had Enough? Find out why tens of thousands of us are turning to co-op based health care instead of traditional health insurance.
	  </p>    
	  <p class="text-center col-md-12">
	    <a class="btn btn-lg btn-default" href="/start" role="button">Find a Plan</a>
	    <a class="btn btn-lg btn-default" href="#home-2" role="button">How It Works</a>
	  </p>
	</div>
</div>

<div id="home-2" class="container">  
	<div class="col-md-12">
	  <h2 class="col-md-12 text-center">
	  	Reimagine Health Care
	  </h2>
	  <p class="text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	  	So here's how it works. With the current health insurance system, costs have skyrocketed, leaving us with little to no options. But the co-op health care method is a great alternative to health insurance. Lose the middle man, and we can save a lot of money.
	  </p> 
	  <div class="col-md-6 text-center">
			<i class="icon fa fa-building-o fa-6"></i>
			<p class="p-caption">Health Insurance</p>
	  </div>   
	  <div class="col-md-6 text-center">
			<i class="icon fa fa-group fa-6"></i>
			<p class="p-caption">Co-Op Health Care</p>
	  </div>   
	  <p class="col-md-12 text-center">
	    <a class="btn btn-lg btn-primary" href="#home-3" role="button">Next</a>
  	</p>  		 
	</div>
</div>

<div id="home-3" class="container"> 
	<div class="col-md-7 col-md-push-5">
	  <h2 class="col-md-12">
	  	A plan we can trust
	  </h2>
	  <p class="col-md-10">
	  	Tens of thousands of us are already using co-ops and most of the co-op organizations have been around for over 20 years. This is a health care option that has stood the test of time. We've relied on big insurance companies and beaurocracies long enough. It's time we put our confidence into organizations that are trustworthy and based on real community.
	  </p> 
	  <p class="col-md-12">
	    <a class="btn btn-lg btn-primary" href="#home-4" role="button">Next</a>
  	</p>
	</div>
	<div class="col-md-5 col-md-pull-7 text-center">
		<i class="icon fa fa-shield fa-6"></i>
	</div>
</div>

<div id="home-4" class="container"> 
	<div class="col-md-7 col-md-push-5">
	  <h2 class="col-md-12">
	  	More money in your pocket
	  </h2>
	  <p class="col-md-10">
	  	It is easy to join and members save about 40 – 60% of the costs that are typically incurred with major medical insurance plans.
	  </p> 
	  <p class="col-md-12">
	    <a class="btn btn-lg btn-primary" href="#home-5" role="button">Next</a>
  	</p>
	</div>
	<div class="col-md-5 col-md-pull-7 text-center">
		<i class="icon fa fa-money fa-6"></i>
	</div>
</div>

<div id="home-5" class="container"> 
	<div class="col-md-7 col-md-push-5">
	  <h2 class="col-md-12">
	  	Cover Bills & Get Benefits 
	  </h2>
	  <p class="col-md-10">
	  	Co-op Health Care will help you cover the cost of Medical Bills plus most plans give you access to important medical services at no additional cost. These usually include discounts for Dental, Orthodontic, Labwork, Prescription Drugs and more.
	  </p> 
	  <p class="col-md-12">
	    <a class="btn btn-lg btn-primary" href="#home-6" role="button">Next</a>
  	</p>
	</div>
	<div class="col-md-5 col-md-pull-7 text-center">
		<i class="icon fa fa-stethoscope fa-6"></i>
	</div>
</div>

<div id="home-6" class="container"> 
	<div class="col-md-7 col-md-push-5">
	  <h2 class="col-md-12">
	  	No Government Penalties
	  </h2>
	  <p class="col-md-10">
	  	Starting in 2014, the new law requires individuals to purchase health insurance or pay a penalty. However, the PPACA law also contains a provision that members of health care sharing plans are not subject to the insurance requirement, and they are exempt from the penalties.  Therefore, the new law does not hinder current or new members from participating.
	  </p> 
	  <p class="col-md-12">
	    <a class="btn btn-lg btn-primary" href="#home-7" role="button">Next</a>
  	</p>
	</div>
	<div class="col-md-5 col-md-pull-7 text-center">
		<i class="icon fa fa-check-circle-o fa-6"></i>
	</div>
</div>

<div id="home-7" class="container"> 
	<div class="col-md-7 col-md-push-5">
	  <h2 class="col-md-12">
	  	Where do I start?
	  </h2>
	  <p class="col-md-10">
	  	The problem with health care is that most of us don't know where to start. Instead of spending endless hours googling and applying, click the button below and we will help you narrow it down to the best options available. Insurance sucks, but health care doesn't have to.
	  </p> 
	  <p class="col-md-12">
	    <a class="btn btn-lg btn-primary" href="/start" role="button">Find My Plan</a>	    
  	</p>
	</div>
	<div class="col-md-5 col-md-pull-7 text-center">
		<i class="icon fa fa-search fa-6"></i>
	</div>
</div>