<div class="bg-primary-color container masthead">
  
    <h1 class="text-center">My Insurance Sucks</h1>

    <p class="lead text-center">Find a Better Choice for Health Care</p>
    
    <p class="text-center">
      <a class="btn btn-lg btn-default" href="../../components/#navbar" role="button">Get Started</a>
    </p>

</div> <!-- /container -->