<div class="bg-primary-color container masthead">  
  <h1 class="text-center">My Insurance Sucks</h1>
  <p class="lead text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">Had Enough? Find out why tens of thousands of people are turning to co-op based health care instead of traditional health insurance.</p>    
  <p class="text-center col-md-12">
    <a class="btn btn-lg btn-default" href="/start" role="button">Get Started</a>
    <a class="btn btn-lg btn-default" href="#2" role="button">Tell Me More</a>
  </p>
</div>

<div class="bg-secondary-color container">  
  <h1 class="text-center">Reimagine Health Care</h1>
  <p class="text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">So here's how it works. With the current health insurance system, costs have skyrocketed, leaving us with little to no options. But the co-op health care method is an excellent alternative to health insurance. Cut out the middle man, and everyone else saves a lot of money.</p> 
  <div class="row">
	  <div class="col-md-6">
			<i class="fa fa-building-o fa-6 pull-right"></i>
	  </div>   
	  <div class="col-md-6">
			<i class="fa fa-arrows-alt fa-6 pull-left"></i>
	  </div>   
	</div>
  <p class="text-center col-md-12">
    <a class="btn btn-lg btn-primary" href="/start" role="button">Get Started</a>
    <a class="btn btn-lg btn-primary" href="#2" role="button">What Else?</a>
  </p>
</div>

<div class="container">  
	<div class="col-md-8 col-md-push-4">
	  <h1 class="text-center">40-60% Off</h1>
	  <p class="text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">It is easy to join and members save about 40 – 60% of the costs that are typically incurred with major medical insurance plans.</p> 
	</div>
	<div class="col-md-4 col-md-pull-8">
			<i class="fa fa-usd fa-6 pull-right"></i>
	</div>
  <p class="text-center col-md-12">
    <a class="btn btn-lg btn-primary" href="/start" role="button">Get Started</a>
    <a class="btn btn-lg btn-primary" href="#2" role="button">What Else?</a>
  </p>
</div>

<div class="container">  
	<div class="col-md-8 col-md-push-4">
	  <h1 class="text-center">Exempt from Obamacare</h1>
	  <p class="text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">Starting in 2014, the new law requires individuals to purchase health insurance or pay a penalty. However, the law also contains a provision that members of health care sharing plans are not subject to the insurance requirement, and they are exempt from the penalties.  Therefore, the new law does not hinder current or new members from participating.</p> 
	</div>
	<div class="col-md-4 col-md-pull-8">
			<i class="fa fa-usd fa-6 pull-right"></i>
	</div>
  <p class="text-center col-md-12">
    <a class="btn btn-lg btn-primary" href="/start" role="button">Get Started</a>
    <a class="btn btn-lg btn-primary" href="#2" role="button">What Else?</a>
  </p>
</div>

<div class="container">  
	<div class="col-md-8 col-md-push-4">
	  <h1 class="text-center">Friends with Benefits</h1>
	  <p class="text-center col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">The Health Co-Op provides access to important medical services at no additional cost to members. These services are applicable for all members and their families and are easy to use including:</p> 
	</div>
	<div class="col-md-4 col-md-pull-8">
			<i class="fa fa-usd fa-6 pull-right"></i>
	</div>
  <p class="text-center col-md-12">
    <a class="btn btn-lg btn-primary" href="/start" role="button">Get Started</a>
    <a class="btn btn-lg btn-primary" href="#2" role="button">What Else?</a>
  </p>
</div>