<div id="footer">
  <div class="container">				    
    <ul class="nav navbar-nav">
      <li><a href="/start">Get Started</a></li>
      <li><a href="/howitworks">How It Works</a></li>
      <li><a href="/testimonials">Testimonials</a></li>
      <li><a href="/questions">FAQ</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>		 
    <div class="clearfix"></div>
   	<p class="copyright text-muted">
   		<a href="/" target="_blank">© <%= Time.now.year %> My Insurance Sucks</a>    	
   		<span class="hidden-xs hidden-sm" target="_blank">&nbsp &nbsp | &nbsp &nbsp</span>
   		<span class="clearfix"></span>
   		<a href="http://paradoxcreative.com" target="_blank">Built by Paradox</a>
   	</p>
  </div>
</div>